body {
	background-color: #FFFFFF;
}
h1, h2, h3, h4, h5, h6, .heading {
    text-transform: none;
}
textarea {
    resize: none;
}
#header {
    display: flex;
    flex-direction: row;
}
#mainav {
    margin-top:15px;
}
#mainav:nth-child(2) {
    margin-left: auto
}
#mainav ul {
    text-transform: none;
}
#footer div {
	width: 35%;
	margin: auto;
}
#wordCount {
	color:black;
}
.btn:disabled {
	background-color: lightgray;
	border-color: gray;
	cursor: default;
}
.btn:hover:enabled{
	cursor: pointer;
}
.row1, .row3 {
    padding: 0 20px;
}
.wrapper .row3  {
	width: 95%;
	margin: auto;
}
.pageContent .showContent {
	display: block;
}
.pageContent .hideContent {
	display: none;
}
.pageContent .actionSection {
	margin-bottom: 100px;
}
.pageContent .actionSection .actionLine {
	margin-bottom: 40px;
}
.pageContent .actionSection .sectiontitle {
    color: #00ADEF;
}
.pageContent form {
	display: flex;
	flex-direction: column;
}
.pageContent form .zipCode {
    position: relative;
    left: 55px;
}
.pageContent form .zipCode > span {
    font-size: 12px;
    padding-left: 10px;
    color: gray;
}
.pageContent form > input[type='submit'] {
	margin: 20px auto 0;
}
.pageContent .formGroup {
	display: flex;
	flex-direction: row;
	margin: 2px auto;
}
.pageContent label {
	text-align: right;
	padding-right: 10px;
}
.pageContent label, input, select {
	width: 160px;
}
.pageContent label, input, select {
	min-width: 150px;
}
.pageContent .paymentCardInfoSection {
	margin: auto;
    display: none;
}
.pageContent .yearsExperienceDIV {
	margin: auto;
    display: none;
}
.pageContent .extraPrescription {
	margin: auto;
    width: 302px;
}
.pageContent .wordCount {
    padding: 52px 0px 0px 7px;
    margin: 0px;
	font-style: italic;
}
.pageContent .wordCountDIV {
    position: relative;
    left: 91px;
}
